@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
.preloader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
}


/*******************
 Footer
*******************/

.footer {
    color: #67757c;
    left: 0px;
    right: 0;
    bottom: 0;
    padding: 20px 15px;
    position: absolute;
    background-color: #ffffff;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
}


/*******************
Badge
******************/

.badge {
    vertical-align: middle;
    padding: 7px 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
    border-radius: 4px;
    font-size: 12px;
}

.badge-info {
    color: #fff;
    background-color: #4d7cff;
}

.badge-warning {
    color: #fff;
    background-color: #ff9913;
}


/* Card */

.card {
    box-shadow: 0 4px 30px rgba(10, 10, 16, 0.05);
    background-color: #fff;
    border-radius: 4px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.card .card-header,
.card .card-body,
.card .card-footer {
    background-color: transparent;
    padding: 20px 25px;
}

.card .navbar {
    position: static;
}

.card .card-body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card .card-body .section-title {
    margin: 30px 0 10px 0;
    font-size: 16px;
}

.card .card-body .section-title:before {
    margin-top: 8px;
}

.card .card-body .section-title+.section-lead {
    margin-top: -5px;
}

.card .card-body p {
    font-weight: 500;
}

.card .card-header {
    border-bottom-color: #f9f9f9;
    line-height: 30px;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    min-height: 70px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
}

.card .card-header .btn {
    margin-top: 1px;
    padding: 2px 15px;
}

.card .card-header .btn:not(.note-btn) {
    border-radius: 30px;
}

.card .card-header .btn:hover {
    box-shadow: none;
}

.card .card-header .form-control {
    height: 31px;
    font-size: 13px;
    border-radius: 30px;
}

.card .card-header .form-control+.input-group-btn .btn {
    margin-top: -1px;
}

.card .card-header h4 {
    font-size: 16px;
    line-height: 28px;
    padding-right: 10px;
    margin-bottom: 0;
}

.card .card-header h4+.card-header-action,
.card .card-header h4+.card-header-form {
    margin-left: auto;
}

.card .card-header h4+.card-header-action .btn,
.card .card-header h4+.card-header-form .btn {
    font-size: 12px;
    border-radius: 30px !important;
    padding-left: 13px !important;
    padding-right: 13px !important;
}

.card .card-header h4+.card-header-action .btn.active,
.card .card-header h4+.card-header-form .btn.active {
    box-shadow: 0 2px 6px #acb5f6;
    background-color: #6777ef;
    color: #fff;
}

.card .card-header h4+.card-header-action .dropdown,
.card .card-header h4+.card-header-form .dropdown {
    display: inline;
}

.card .card-header h4+.card-header-action .btn-group .btn,
.card .card-header h4+.card-header-form .btn-group .btn {
    border-radius: 0 !important;
}

.card .card-header h4+.card-header-action .btn-group .btn:first-child,
.card .card-header h4+.card-header-form .btn-group .btn:first-child {
    border-radius: 30px 0 0 30px !important;
}

.card .card-header h4+.card-header-action .btn-group .btn:last-child,
.card .card-header h4+.card-header-form .btn-group .btn:last-child {
    border-radius: 0 30px 30px 0 !important;
}

.card .card-header h4+.card-header-action .input-group .form-control,
.card .card-header h4+.card-header-form .input-group .form-control {
    border-radius: 30px 0 0 30px !important;
}

.card .card-header h4+.card-header-action .input-group .form-control+.input-group-btn .btn,
.card .card-header h4+.card-header-form .input-group .form-control+.input-group-btn .btn {
    border-radius: 0 30px 30px 0 !important;
}

.card .card-header h4+.card-header-action .input-group .input-group-btn+.form-control,
.card .card-header h4+.card-header-form .input-group .input-group-btn+.form-control {
    border-radius: 0 30px 30px 0 !important;
}

.card .card-header h4+.card-header-action .input-group .input-group-btn .btn,
.card .card-header h4+.card-header-form .input-group .input-group-btn .btn {
    margin-top: -1px;
    border-radius: 30px 0 0 30px !important;
}

.card .card-footer {
    background-color: transparent;
    border: none;
}

.card.card-mt {
    margin-top: 30px;
}

.card.card-primary {
    border-top: 2px solid #6777ef;
}

.card-no-border {
    border: none;
}

.card.bg-primary,
.card.bg-danger,
.card.bg-success,
.card.bg-info,
.card.bg-dark,
.card.bg-warning {
    color: #fff;
}

.card.bg-primary .card-header,
.card.bg-danger .card-header,
.card.bg-success .card-header,
.card.bg-info .card-header,
.card.bg-dark .card-header,
.card.bg-warning .card-header {
    color: #fff;
    opacity: 0.9;
}

@media (max-width: 575.98px) {
    .card.card-large-icons {
        display: inline-block;
    }
    .card.card-large-icons .card-icon {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 767.98px) {
    .card .card-header {
        height: auto;
        flex-wrap: wrap;
    }
    .card .card-header h4+.card-header-action,
    .card .card-header h4+.card-header-form {
        flex-grow: 0;
        width: 100%;
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card .card-stats .card-stats-items {
        height: 49px;
    }
    .card .card-stats .card-stats-items .card-stats-item {
        padding: 5px 7px;
    }
    .card .card-stats .card-stats-items .card-stats-item .card-stats-item-count {
        font-size: 16px;
    }
    .card.card-sm-6 .card-chart canvas {
        height: 85px !important;
    }
    .card.card-hero .card-header {
        padding: 25px;
    }
}


/* 3.6 Table */

.table td,
.table:not(.table-bordered) th {
    border-top: none;
}

.table:not(.table-sm):not(.table-md):not(.dataTable) td,
.table:not(.table-sm):not(.table-md):not(.dataTable) th {
    padding: 0 25px;
    height: 60px;
    vertical-align: middle;
}

.table:not(.table-sm) thead th {
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.04);
    color: #666;
    padding-top: 15px;
    padding-bottom: 15px;
}

.table.table-md th,
.table.table-md td {
    padding: 10px 15px;
}

.table.table-bordered td,
.table.table-bordered th {
    border-color: #f6f6f6;
}

.table-links {
    color: #34395e;
    font-size: 12px;
    margin-top: 5px;
    opacity: 0;
    transition: all 0.3s;
}

.table-links a {
    color: #666;
}

table tr:hover .table-links {
    opacity: 1;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.02);
}

@media (max-width: 575.98px) {
    .table-responsive table {
        min-width: 800px;
    }
}

nav.navbar,
nav.navbar .search-box {
    color: #212529;
    background: #fff;
}

nav.navbar,
nav.side-navbar,
nav.navbar .search-box {
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.03);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.03);
}

.has-shadow {
    -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.03);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.03);
}

nav.side-navbar {
    color: #212529;
}

.page-header {
    -webkit-box-shadow: 4px 0 8px rgba(0, 0, 0, 0.03);
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.03);
}


/* Pagination */

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-item .page-link {
    border-radius: 3px;
    margin: 0 3px;
    cursor: pointer;
    -webkit-box-shadow: 4px 0 8px rgba(0, 0, 0, 0.03);
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.03);
}

.page-item.active .page-link {
    background-color: #6777ef;
    border-color: #6777ef;
    -webkit-box-shadow: 4px 0 8px rgba(0, 0, 0, 0.03);
    box-shadow: 4px 0 8px rgba(103, 119, 239, 0.03);
}

.page-item.disabled .page-link {
    border-color: transparent;
    background-color: #f9fafe;
    color: #6777ef;
    opacity: 0.6;
}

.page-link {
    border-color: transparent;
    background-color: #fff;
    font-weight: 600;
}

.page-link:hover {
    background-color: #6777ef;
    color: #fff !important;
    border-color: transparent;
}

.page-link:focus {
    box-shadow: none;
}

.hidden-form-control {
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
}


/* Model Dialog */

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    padding: 4px;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    -ms-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px dashed rgb(230, 230, 230);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px dashed rgb(230, 230, 230);
}

.modal-backdrop.show {
    opacity: 0;
}

.required-label-star {
    color: red;
}

.help-text {
    font-size: 0.8em;
    color: #999;
    font-weight: 300;
}

nav.navbar .menu-btn span,
nav.navbar .menu-btn span:nth-of-type(2)::before,
nav.navbar .menu-btn span:nth-of-type(2)::after {
    background: #212529;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed rgb(230, 230, 230);
    margin: 20px 0;
}

.side-navbar-avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo-brand {
    margin-top: -40px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #666;
    text-align: center;
}

.page {
    background: rgb(247, 250, 251);
}

.search-control {
    height: 50px;
}


/*******************
Error Page
******************/

.error-box {
    height: 100%;
    position: fixed;
    background: #fff;
    width: 100%;
}

.error-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
}

.error-body {
    padding-top: 5%;
}

.error-body h1 {
    font-size: 210px;
    font-weight: 900;
    line-height: 210px;
}